@use '../App';

.movieInfo {
    margin-top: 25px;

    h1, h2 {
        color: App.$emphasisColor;
        margin-bottom: 15px;
    }

    h1 {
        font-weight: 800;
        font-size: 20px;
    }

    h2 {
        font-weight: 600;
        font-size: 16px;
    }

    p {
        margin-bottom: 25px;
        font-weight: 300;
        font-size: 14px;
    }

    img {
        @media screen and (min-width: 500px) {
            width: 230px;
        }
        width: 120px;
        height: fit-content;
        object-fit: contain;
        border: 2px solid App.$emphasisColor;
        margin-left: 15px;
    }
}

.movieTexts {
    color: App.$baseColor;
}
