$backgroundColor: #282c34;
$boxColor: #3C3C3C;
$emphasisColor: #F6CF00;
$baseColor: #EEEEEE;

@mixin shadow() {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    background-color: $backgroundColor;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.page {
    height: 100vh;
    width: 100%;
    min-width: 350px;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}

.footer {
    background-image: url("../assets/popcornBase.png");
    background-repeat: repeat-x;
    background-size: contain;
    height: 90px;
    width: 100%;
}
